

  <div id="mySidebar" class="sidebar" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()">
    <a href="#">
        <span>
            <i class="material-icons " >lightbulb</i>
            <span class="icon-text">Notes</span>
        </span>
        
            
    </a>
    <br>
    <a href="#">
        <span>
            <i class="material-icons">notifications</i>
            <span class="icon-text">Reminders</span>
        </span>
        
            
    </a>
    <br>
    <a href="#">
        <span>
            <i class="material-icons">label</i>
            <span class="icon-text">Inspiration</span>
        </span>
        
            
    </a>
    <br>
    <a href="#">
        <span>
            <i class="material-icons">label</i>
            <span class="icon-text">Personal</span>
        </span>
        
            
    </a>
    <br>
    <a href="#">
        <span>
            <i class="material-icons">label</i>
            <span class="icon-text">Work</span>
        </span>
        
            
    </a>
    <br>
    <a href="#">
        <span>
            <i class="material-icons">edit</i>
            <span class="icon-text">Edit lables </span>
        </span>
        
            
    </a>
    <br>
    <a href="#">
        <span>
            <i class="material-icons">archive</i>
            <span class="icon-text">Archive</span>
        </span>
        
            
    </a>
    <br>
    <a href="#">
        <span>
            <i class="material-icons">delete</i>
            <span class="icon-text">Trash</span>
        </span>
        
            
    </a>
    <br>
   
</div>

<div id="main">

</div>


